{% load staticfiles %}
{% load rest_framework %}

<html>
        <head>
            

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/calcs.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Marmelad&amp;subset=cyrillic" rel="stylesheet">
        </head>
        <body>
            <nav class="navbar navbar-default navbar-static-top">
                <title>Title</title>
                <div class="header">
                    <!-- {% if user.is_authenticated %}{% endif %}
                        <a href="{% url 'measure-create' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
                        <a href="{% url 'measure-create' %}"><span class="glyphicon glyphicon-plus"></span></a>
                    <h1><a href="/measure/">Title</a></h1>
                </div>
            </nav>

            <div class="content">
            {% block content %}
            
            {% endblock content %}
            </div>
        </body>


</html>

<!-- <form method="post">
    Username <input type="text" name="username" value=""> 
    Password <input type="text" name="password" value="">  
    Confirm password <input type="text" name="confirm_password" value="">         
            {% if messages %}
                <div class="errs" style="color: #ff0000;">
                    {% for message in messages %}
                        {{message}} 
                    {% endfor %}
                </div>
            {% else %}           
                <br>
            {% endif %}

        
    <button type="submit">Sign up</button>
</form> -->