{% load staticfiles %}
{% load rest_framework %}

<html>
        <head>
            

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
            <link rel="stylesheet" href="{% static 'css/calcs.css' %}">
            <link href="https://fonts.googleapis.com/css?family=Marmelad&amp;subset=cyrillic" rel="stylesheet">
        </head>
        <body>
            <nav class="navbar navbar-default navbar-static-top">
                <title>Title</title>
                <div class="header">
                    
                    {% if user.is_authenticated %}
                        <a href="{% url 'measure-list' %}" class="btn btn-info" role="button">Measures</a> 
                        <a href="{% url 'measure-create' %}" class="btn btn-info" role="button">New measure</a> 
                        {{ user.username }}  
                        <a href="{% url 'user-logout' %}" class="btn btn-info" role="button">Log-out</a>                
                    {% else %}     
                        <div class="btn-group">               
                            <a href="{% url 'user-login' %}" class="btn btn-info" role="button">Log-in</a>
                            <a href="{% url 'user-create' %}" class="btn btn-info" role="button">Sign-up</a>
                        </div>
                    {% endif %}
                    <h1><a href="/">Title</a></h1>
                </div>
            </nav>

            <div class="content">
            {% block content %}
            
            {% endblock content %}
            </div>
        </body>


</html>